header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

body {
    background-color: #b6d8e2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #324775;
}

p {
    text-align: center;
}

/*Navigation Menu*/
#nav_menu ul {
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#nav_menu ul li {
    display: inline;
    padding: 0 1.5em;
}

#nav_menu ul li a {
    font-weight: bold;
    color: blue;
}

#nav_menu ul li a.current {
    text-decoration: none;
}

#nav_menu ul li a:hover {
    color: rgb(151, 28, 28);
}


@media only screen and (max-width: 451px) {
    #nav_menu ul li {
        float: none;
        width: 100%;
    }

    #nav_menu ul li {
    display: table-row;
    }
}