header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #324775;
}

body {
    background-color: #b6d8e2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#aside1 {
    float: right;
    width: 25%;
}

#aside2 {
    float: right;
    width: 25%
}
