
header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #324775;
}

body {
    background-color: #b6d8e2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main h2 {
    text-align: center;
    color: #324775;
    padding: .50em;
}

section {
    text-align: center;
}

footer {
    text-align: center;
}

#images {
    border: thick dotted rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, rgb(131, 183, 241) 0%, #2431ac 100%);
}

ul > li {
    color: #2F4F4F;
    padding: 3px;
    padding-inline: 3px;
}

a:link {color: rgb(15, 138, 66);}
a:visited {color: #b3289b;}

/*Images*/
#first_picture {
    height: 25%;
    width: 25%;
}

#second_picture {
    height: 40%;
    width: 40%;
}

#third_picture {
    height: 30%;
    width: 30%;
}

/*Homepage Specific*/
main#homepage img {
    min-width: 250px;
}

/*Navigation Menu*/
#nav_menu {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nav_menu ul {
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#nav_menu ul li {
    display: inline;
    padding: 0 1.5em;
}

#nav_menu ul li a {
    font-weight: bold;
    color: blue;
}

#nav_menu ul li a.current {
    text-decoration: none;
    color: rgb(17, 105, 98);
}

#nav_menu ul li a:hover {
    color: rgb(151, 28, 28);
}

/*Unordered List*/
#unordered_list {
    list-style-position: inside;
    display: inline-block;
    text-align: left;
    padding-left: 0;
    margin: 0 auto;
}

/*Return to Top*/
#rtt {
    text-align: center;
}

@media only screen and (max-width: 526px) {
    #nav_menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nav_menu ul li {
        float: none;
        width: 100%;
        display: table-row;
    }
}
